In [1]:
%run ../utilities/web_utilities.ipynb
%run ../utilities/database_utilities.ipynb
%run ../utilities/encoder_utilities.ipynb
%run ../utilities/pd_utilities.ipynb

In [2]:
write_mode = 'replace'
target_table = 'whl_game_summary'

In [3]:
import pandas as pd
import numpy as np
import sys
sys.path.append('../../../')

import settings as st

In [4]:
import pandas as pd
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [5]:
db_host = st.database['local']['host']
db_port = st.database['local']['port']
db_user = st.database['local']['user']
db_pass = st.database['local']['pass']
db_sys = st.database['local']['system']
db_db = st.database['local']['db']

In [6]:
key = "41b145a848f4bd67"

In [7]:
season_id = None
season_id = 267

In [8]:
if season_id == None:
    sql = "SELECT DISTINCT id FROM whl_schedule_by_season"
else:
    sql = "SELECT DISTINCT id FROM whl_schedule_by_season where season_id = {0}".format(season_id)
res = query_database_to_list(db_sys, db_user, db_pass, db_host, db_port, db_db, sql)

In [9]:
for r in res:
    game_id = r['id']
    
    url = "http://cluster.leaguestat.com/feed/index.php?feed=gc&key={0}&client_code=whl&game_id={1}&lang_code=en&fmt=json&tab=gamesummary".format(key, game_id)
    
    json_data = return_json(url)
    
    break

In [14]:
pd.DataFrame(json_data['GC']['Gamesummary'])

{'visitor': 0, 'home': 0}

In [19]:
pd.DataFrame(json_data['GC']['Gamesummary']['penalties'])

  bench    event home lang_penalty_description  minutes minutes_formatted offence penalty_class penalty_class_id penalty_shot period period_id                              player_penalized_info                                 player_served_info pp     s team_id time_off_formatted
0     0  penalty    1                 Tripping        2              2:00      35         Minor                1            0    1st         1  {'player_id': '27388', 'jersey_number': '2', '...  {'player_id': '27388', 'jersey_number': '2', '...  1   789     213              13:09
1     0  penalty    1           Cross Checking        2              2:00       8         Minor                1            0    1st         1  {'player_id': '26902', 'jersey_number': '27', ...  {'player_id': '26902', 'jersey_number': '27', ...  1  1122     213              18:42
2     0  penalty    0             Interference        2              2:00      22         Minor                1            0    2nd         2  {'player_id': '26869', 'jersey_number': '2', '...  {'player_id': '26869', 'jersey_number': '2', '...  1   375     207               6:15
3     0  penalty    0                 Roughing        2              2:00      30         Minor                1            0    2nd         2  {'player_id': '26885', 'jersey_number': '6', '...  {'player_id': '26885', 'jersey_number': '6', '...  1   576     207               9:36
4     0  penalty    0                 Tripping        2              2:00      35         Minor                1            0    2nd         2  {'player_id': '27389', 'jersey_number': '22', ...  {'player_id': '27389', 'jersey_number': '22', ...  1   946     207              15:46
5     0  penalty    0                 Tripping        2              2:00      35         Minor                1            0    3rd         3  {'player_id': '27800', 'jersey_number': '12', ...  {'player_id': '27800', 'jersey_number': '12', ...  1   147     207               2:27