In [1]:
import pandas as pd
import numpy as np
import sys
sys.path.append('../../../')

import settings as st
import datetime

In [2]:
sys.path.append('../../../production/data-scraping/utilities')

import web_utilities as wu
import database_utilities as du
import encoder_utilities as eu
import pd_utilities as pu

In [3]:
import pandas as pd
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [4]:
db_host = st.database['local']['host']
db_port = st.database['local']['port']
db_user = st.database['local']['user']
db_pass = st.database['local']['pass']
db_sys = st.database['local']['system']
db_db = st.database['local']['db']

In [5]:
print("START PROCESS: " + str(datetime.datetime.now()))

START PROCESS: 2019-06-07 20:36:50.502818

In [ ]:
"""
# stg_whl_game_summary_coaches

CREATE TABLE whl_game_summary_coaches AS SELECT * FROM stg_whl_game_summary_coaches
    
alter table whl_game_summary_coaches alter column person_id type integer USING person_id::integer;
alter table whl_game_summary_coaches alter column coach_type_id type integer USING coach_type_id::integer;

# stg_whl_game_summary_goalies

create table whl_game_summary_goalies as select * from stg_whl_game_summary_goalies;

alter table whl_game_summary_goalies alter column goals_against type int USING goals_against::integer;
alter table whl_game_summary_goalies alter column id type int USING id::integer;
alter table whl_game_summary_goalies alter column loss type int USING loss::integer;
alter table whl_game_summary_goalies alter column ot_loss type int USING ot_loss::integer;
alter table whl_game_summary_goalies alter column player_id type int USING player_id::integer;
alter table whl_game_summary_goalies alter column saves type int USING saves::integer;
alter table whl_game_summary_goalies alter column seconds type int USING seconds::integer;
alter table whl_game_summary_goalies alter column secs type int USING secs::integer;
alter table whl_game_summary_goalies alter column shootout_loss type int USING shootout_loss::integer;
alter table whl_game_summary_goalies alter column shots_against type int USING shots_against::integer;
alter table whl_game_summary_goalies alter column shutout type int USING shutout::integer;
alter table whl_game_summary_goalies alter column tie type int USING tie::integer;
alter table whl_game_summary_goalies alter column win type int USING win::integer;
alter table whl_game_summary_goalies alter column game_id type int USING game_id::integer;

# stg_whl_game_summary_goals

create table whl_game_summary_goals as select * from stg_whl_game_summary_goals;

update whl_game_summary_goals set assist1_player_jersey_number = null where assist1_player_jersey_number = '';
alter table whl_game_summary_goals alter column assist1_player_jersey_number type integer using assist1_player_jersey_number::integer;
alter table whl_game_summary_goals alter column assist1_player_player_id type integer using assist1_player_player_id::integer;
alter table whl_game_summary_goals alter column assist1_player_team_id type integer using assist1_player_team_id::integer;
update whl_game_summary_goals set assist2_player_jersey_number = null where assist2_player_jersey_number = '';
alter table whl_game_summary_goals alter column assist2_player_jersey_number type integer using assist2_player_jersey_number::integer;
alter table whl_game_summary_goals alter column assist2_player_player_id type integer using assist2_player_player_id::integer;
alter table whl_game_summary_goals alter column assist2_player_team_id type integer using assist2_player_team_id::integer;
alter table whl_game_summary_goals alter column empty_net type integer using empty_net::integer;
alter table whl_game_summary_goals alter column game_tieing type integer using game_tieing::integer;
alter table whl_game_summary_goals alter column game_winning type integer using game_winning::integer;
alter table whl_game_summary_goals alter column goal_id type integer using goal_id::integer;
update whl_game_summary_goals set goal_scorer_jersey_number = null where goal_scorer_jersey_number = '';
alter table whl_game_summary_goals alter column goal_scorer_jersey_number type integer using goal_scorer_jersey_number::integer;
alter table whl_game_summary_goals alter column goal_scorer_player_id type integer using goal_scorer_player_id::integer;
alter table whl_game_summary_goals alter column goal_scorer_team_id type integer using goal_scorer_team_id::integer;
alter table whl_game_summary_goals alter column home type integer using home::integer;
alter table whl_game_summary_goals alter column insurance_goal type integer using insurance_goal::integer;
alter table whl_game_summary_goals alter column location_set type integer using location_set::integer;
alter table whl_game_summary_goals alter column penalty_shot type integer using penalty_shot::integer;
alter table whl_game_summary_goals alter column period_id type integer using period_id::integer;
alter table whl_game_summary_goals alter column power_play type integer using power_play::integer;
alter table whl_game_summary_goals alter column s type integer using s::integer;
alter table whl_game_summary_goals alter column scorer_goal_num type integer using scorer_goal_num::integer;
alter table whl_game_summary_goals alter column short_handed type integer using short_handed::integer;
alter table whl_game_summary_goals alter column team_id type integer using team_id::integer;

# stg_whl_game_summary_goals_minus

create table whl_game_summary_goals_minus as select * from stg_whl_game_summary_goals_minus;

alter table whl_game_summary_goals_minus alter column game_id type int using game_id::int;
alter table whl_game_summary_goals_minus alter column goal_id type int using goal_id::int;
alter table whl_game_summary_goals_minus alter column player_id type int using player_id::int;
update whl_game_summary_goals_minus set jersey_number = null where jersey_number = '';
alter table whl_game_summary_goals_minus alter column jersey_number type int using jersey_number::int;

# stg_whl_game_summary_goals_plus

create table whl_game_summary_goals_plus as select * from stg_whl_game_summary_goals_plus

alter table whl_game_summary_goals_plus alter column game_id type int using game_id::int;
alter table whl_game_summary_goals_plus alter column goal_id type int using goal_id::int;
alter table whl_game_summary_goals_plus alter column player_id type int using player_id::int;
update whl_game_summary_goals_plus set jersey_number = null where jersey_number = '';
alter table whl_game_summary_goals_plus alter column jersey_number type int using jersey_number::int;

# stg_whl_game_summary_lineup

create table whl_game_summary_lineup as select * from stg_whl_game_summary_lineup;

alter table whl_game_summary_lineup alter column assists type int using assists::int;
alter table whl_game_summary_lineup alter column faceoff_attempts type int using faceoff_attempts::int;
alter table whl_game_summary_lineup alter column faceoff_wins type int using faceoff_wins::int;
alter table whl_game_summary_lineup alter column goals type int using goals::int;
alter table whl_game_summary_lineup alter column goals_against type int using goals_against::int;
alter table whl_game_summary_lineup alter column hits type int using hits::int;
update whl_game_summary_lineup set jersey_number = null where jersey_number = '';
alter table whl_game_summary_lineup alter column jersey_number type int using jersey_number::int;
alter table whl_game_summary_lineup alter column person_id type int using person_id::int;
alter table whl_game_summary_lineup alter column pim type int using pim::int;
alter table whl_game_summary_lineup alter column player_id type int using player_id::int;
alter table whl_game_summary_lineup alter column position type int using position::int;
update whl_game_summary_lineup set rookie = null where rookie = '';
alter table whl_game_summary_lineup alter column rookie type int using rookie::int;
alter table whl_game_summary_lineup alter column saves type int using saves::int;
alter table whl_game_summary_lineup alter column seconds type int using seconds::int;
alter table whl_game_summary_lineup alter column shots type int using shots::int;
alter table whl_game_summary_lineup alter column shots_against type int using shots_against::int;
alter table whl_game_summary_lineup alter column shots_on type int using shots_on::int;
alter table whl_game_summary_lineup alter column game_id type int using game_id::int;
alter table whl_game_summary_lineup alter column plusminus type double precision using plusminus::double precision;

# stg_whl_game_summary_meta

create table whl_game_summary_meta as select * from stg_whl_game_summary_meta;

alter table whl_game_summary_meta alter column final type int using final::int;
alter table whl_game_summary_meta alter column forfeit type int using forfeit::int;
alter table whl_game_summary_meta alter column game_number type int using game_number::int;
alter table whl_game_summary_meta alter column home_assist_count type int using home_assist_count::int;
alter table whl_game_summary_meta alter column home_assistant_coach1 type int using home_assistant_coach1::int;
alter table whl_game_summary_meta alter column home_assistant_coach2 type int using home_assistant_coach2::int;
update whl_game_summary_meta set home_coach = null where home_coach = '';
alter table whl_game_summary_meta alter column home_coach type int using home_coach::int;
alter table whl_game_summary_meta alter column home_faceoffs_att type int using home_faceoffs_att::int;
alter table whl_game_summary_meta alter column home_faceoffs_won type int using home_faceoffs_won::int;
alter table whl_game_summary_meta alter column home_goal_count type int using home_goal_count::int;
alter table whl_game_summary_meta alter column home_goal_total type int using home_goal_total::int;
alter table whl_game_summary_meta alter column home_inf_count type int using home_inf_count::int;
update whl_game_summary_meta set home_manager = null where home_manager = '';
alter table whl_game_summary_meta alter column home_manager type int using home_manager::int;
alter table whl_game_summary_meta alter column home_pim_total type int using home_pim_total::int;
alter table whl_game_summary_meta alter column home_team type int using home_team::int;
alter table whl_game_summary_meta alter column home_total_hits type int using home_total_hits::int;
alter table whl_game_summary_meta alter column home_total_shots type int using home_total_shots::int;
alter table whl_game_summary_meta alter column home_total_shots_on type int using home_total_shots_on::int;
alter table whl_game_summary_meta alter column id type int using id::int;
alter table whl_game_summary_meta alter column if_necessary type int using if_necessary::int;
alter table whl_game_summary_meta alter column imported_id type int using if_necessary::int;
alter table whl_game_summary_meta alter column league_id type int using league_id::int;
update whl_game_summary_meta set location = null where location = '';
alter table whl_game_summary_meta alter column location type int using location::int;
update whl_game_summary_meta set mvp1 = null where mvp1 = '';
alter table whl_game_summary_meta alter column mvp1 type int using mvp1::int;
update whl_game_summary_meta set mvp2 = null where mvp2 = '';
alter table whl_game_summary_meta alter column mvp2 type int using mvp2::int;
update whl_game_summary_meta set mvp3 = null where mvp3 = '';
alter table whl_game_summary_meta alter column mvp3 type int using mvp3::int;
alter table whl_game_summary_meta alter column pending_final type int using pending_final::int;
alter table whl_game_summary_meta alter column period type int using period::int;
alter table whl_game_summary_meta alter column quick_score type int using quick_score::int;
alter table whl_game_summary_meta alter column season_id type int using season_id::int;
alter table whl_game_summary_meta alter column shootout type int using shootout::int;
alter table whl_game_summary_meta alter column shootout_first_shooter_home type int using shootout_first_shooter_home::int;
alter table whl_game_summary_meta alter column started type int using started::int;
alter table whl_game_summary_meta alter column status type int using status::int;
alter table whl_game_summary_meta alter column visiting_assist_count type int using visiting_assist_count::int;
alter table whl_game_summary_meta alter column visiting_assistant_coach1 type int using visiting_assistant_coach1::int;
alter table whl_game_summary_meta alter column visiting_assistant_coach2 type int using visiting_assistant_coach2::int;
update whl_game_summary_meta set visiting_coach = null where visiting_coach = '';
alter table whl_game_summary_meta alter column visiting_coach type int using visiting_coach::int;
alter table whl_game_summary_meta alter column visiting_faceoffs_won type int using visiting_faceoffs_won::int;
alter table whl_game_summary_meta alter column visiting_goal_count type int using visiting_goal_count::int;
alter table whl_game_summary_meta alter column visiting_goal_total type int using visiting_goal_total::int;
alter table whl_game_summary_meta alter column visiting_inf_count type int using visiting_inf_count::int;
update whl_game_summary_meta set visiting_manager = null where visiting_manager = '';
alter table whl_game_summary_meta alter column visiting_manager type int using visiting_manager::int;
alter table whl_game_summary_meta alter column visiting_pim_total type int using visiting_pim_total::int;
alter table whl_game_summary_meta alter column visiting_points_count type int using visiting_points_count::int;
alter table whl_game_summary_meta alter column visiting_powerplay_count type int using visiting_powerplay_count::int;
alter table whl_game_summary_meta alter column visiting_powerplay_goals type int using visiting_powerplay_goals::int;
alter table whl_game_summary_meta alter column visiting_shootout type int using visiting_shootout::int;
alter table whl_game_summary_meta alter column visiting_team type int using visiting_team::int;
alter table whl_game_summary_meta alter column visiting_total_hits type int using visiting_total_hits::int;
alter table whl_game_summary_meta alter column visiting_total_shots type int using visiting_total_shots::int;
alter table whl_game_summary_meta alter column visiting_total_shots_on type int using visiting_total_shots_on::int;

# stg_whl_game_summary_officials

create table whl_game_summary_officials as select * from stg_whl_game_summary_officials;

alter table whl_game_summary_officials alter column game_id type int using game_id::int;
update whl_game_summary_officials set jersey_number = null where jersey_number = '';
alter table whl_game_summary_officials alter column jersey_number type int using jersey_number::int;
alter table whl_game_summary_officials alter column official_type_id type int using official_type_id::int;
update whl_game_summary_officials set person_id = null where person_id = '';
alter table whl_game_summary_officials alter column person_id type int using person_id::int;

# stg_whl_game_summary_penalties

create table whl_game_summary_penalties as select * from stg_whl_game_summary_penalties;

update whl_game_summary_penalties set bench = null where bench = '';
alter table whl_game_summary_penalties alter column bench type int using bench::int;
update whl_game_summary_penalties set home = null where home = '';
alter table whl_game_summary_penalties alter column home type int using home::int;
update whl_game_summary_penalties set offence = null where offence = '';
alter table whl_game_summary_penalties alter column offence type int using offence::int;
update whl_game_summary_penalties set penalty_class_id = null where penalty_class_id = '';
alter table whl_game_summary_penalties alter column penalty_class_id type int using penalty_class_id::int;
update whl_game_summary_penalties set penalty_shot = null where penalty_shot = '';
alter table whl_game_summary_penalties alter column penalty_shot type int using penalty_shot::int;
update whl_game_summary_penalties set period_id = null where period_id = '';
alter table whl_game_summary_penalties alter column period_id type int using period_id::int;
update whl_game_summary_penalties set player_penalized_jersey_number = null where player_penalized_jersey_number = '';
alter table whl_game_summary_penalties alter column player_penalized_jersey_number type int using player_penalized_jersey_number::int;
update whl_game_summary_penalties set player_penalized_player_id = null where player_penalized_player_id = '';
alter table whl_game_summary_penalties alter column player_penalized_player_id type int using player_penalized_player_id::int;
update whl_game_summary_penalties set player_penalized_team_id = null where player_penalized_team_id = '';
alter table whl_game_summary_penalties alter column player_penalized_team_id type int using player_penalized_team_id::int;
update whl_game_summary_penalties set player_served_jersey_number = null where player_served_jersey_number = '';
alter table whl_game_summary_penalties alter column player_served_jersey_number type int using player_served_jersey_number::int;
update whl_game_summary_penalties set player_served_team_id = null where player_served_team_id = '';
alter table whl_game_summary_penalties alter column player_served_team_id type int using player_served_team_id::int;
update whl_game_summary_penalties set pp = null where pp = '';
alter table whl_game_summary_penalties alter column pp type int using pp::int;
update whl_game_summary_penalties set team_id = null where team_id = '';
alter table whl_game_summary_penalties alter column team_id type int using team_id::int;

# stg_whl_game_summary_periods

create table whl_game_summary_periods as select * from stg_whl_game_summary_periods;

update whl_game_summary_periods set id = null where id = '';
alter table whl_game_summary_periods alter column id type int using id::int;
update whl_game_summary_periods set sort_order = null where sort_order = '';
alter table whl_game_summary_periods alter column sort_order type int using sort_order::int;
update whl_game_summary_periods set period_id = null where period_id = '';
alter table whl_game_summary_periods alter column period_id type int using period_id::int;
update whl_game_summary_periods set mandatory = null where mandatory = '';
alter table whl_game_summary_periods alter column mandatory type int using mandatory::int;

# stg_whl_game_summary_shootout

create table whl_game_summary_shootout as select * from stg_whl_game_summary_shootout;

update whl_game_summary_shootout set goal = null where goal = '';
alter table whl_game_summary_shootout alter column goal type int using goal::int;
update whl_game_summary_shootout set goalie_id = null where goalie_id = '';
alter table whl_game_summary_shootout alter column goalie_id type int using goalie_id::int;
update whl_game_summary_shootout set goalie_jersey_number = null where goalie_jersey_number = '';
alter table whl_game_summary_shootout alter column goalie_jersey_number type int using goalie_jersey_number::int;
update whl_game_summary_shootout set home = null where home = '';
alter table whl_game_summary_shootout alter column home type int using home::int;
update whl_game_summary_shootout set id = null where id = '';
alter table whl_game_summary_shootout alter column id type int using id::int;
update whl_game_summary_shootout set jersey_number = null where jersey_number = '';
alter table whl_game_summary_shootout alter column jersey_number type int using jersey_number::int;
update whl_game_summary_shootout set player_id = null where player_id = '';
alter table whl_game_summary_shootout alter column player_id type int using player_id::int;
update whl_game_summary_shootout set shot_order = null where shot_order = '';
alter table whl_game_summary_shootout alter column shot_order type int using shot_order::int;
update whl_game_summary_shootout set winning_goal = null where winning_goal = '';
alter table whl_game_summary_shootout alter column winning_goal type int using winning_goal::int;

# stg_whl_game_summary_team

create table whl_game_summary_team as select * from stg_whl_game_summary_team;

update whl_game_summary_team set away_active = null where away_active = '';
alter table whl_game_summary_team alter column away_active type int using away_active::int;
update whl_game_summary_team set away_id = null where away_id = '';
alter table whl_game_summary_team alter column away_id type int using away_id::int;
update whl_game_summary_team set away_lang_id = null where away_lang_id = '';
alter table whl_game_summary_team alter column away_lang_id type int using away_lang_id::int;
update whl_game_summary_team set away_league_id = null where away_league_id = '';
alter table whl_game_summary_team alter column away_league_id type int using away_league_id::int;
update whl_game_summary_team set away_placeholder = null where away_placeholder = '';
alter table whl_game_summary_team alter column away_placeholder type int using away_placeholder::int;
update whl_game_summary_team set away_season_id = null where away_season_id = '';
alter table whl_game_summary_team alter column away_season_id type int using away_season_id::int;
update whl_game_summary_team set away_team_id = null where away_team_id = '';
alter table whl_game_summary_team alter column away_team_id type int using away_team_id::int;
update whl_game_summary_team set home_active = null where home_active = '';
alter table whl_game_summary_team alter column home_active type int using home_active::int;
update whl_game_summary_team set home_id = null where home_id = '';
alter table whl_game_summary_team alter column home_id type int using home_id::int;
update whl_game_summary_team set home_lang_id = null where home_lang_id = '';
alter table whl_game_summary_team alter column home_lang_id type int using home_lang_id::int;
update whl_game_summary_team set home_league_id = null where home_league_id = '';
alter table whl_game_summary_team alter column home_league_id type int using home_league_id::int;
update whl_game_summary_team set home_placeholder = null where home_placeholder = '';
alter table whl_game_summary_team alter column home_placeholder type int using home_placeholder::int;
update whl_game_summary_team set home_season_id = null where home_season_id = '';
alter table whl_game_summary_team alter column home_season_id type int using home_season_id::int;
update whl_game_summary_team set home_team_id = null where home_team_id = '';
alter table whl_game_summary_team alter column home_team_id type int using home_team_id::int;

"""

In [7]:
for a in ['away_active', 'away_id', 'away_lang_id', 'away_league_id', 
          'away_placeholder_id', 'away_season_id', 'away_team_id', 'home_active', 'home_id',
         'home_lang_id', 'home_league_id', 'home_placeholder', 'home_season_id', 'home_team_id']:
    
    update_q = "update whl_game_summary_team set {0} = null where {0} = '';".format(a)
    alter_q = "alter table whl_game_summary_team alter column {0} type int using {0}::int;".format(a)
    
    print(update_q)
    print(alter_q)

update whl_game_summary_team set away_active = null where away_active = '';
alter table whl_game_summary_team alter column away_active type int using away_active::int;
update whl_game_summary_team set away_id = null where away_id = '';
alter table whl_game_summary_team alter column away_id type int using away_id::int;
update whl_game_summary_team set away_lang_id = null where away_lang_id = '';
alter table whl_game_summary_team alter column away_lang_id type int using away_lang_id::int;
update whl_game_summary_team set away_league_id = null where away_league_id = '';
alter table whl_game_summary_team alter column away_league_id type int using away_league_id::int;
update whl_game_summary_team set away_placeholder_id = null where away_placeholder_id = '';
alter table whl_game_summary_team alter column away_placeholder_id type int using away_placeholder_id::int;
update whl_game_summary_team set away_season_id = null where away_season_id = '';
alter table whl_game_summary_team alter column away_season_id type int using away_season_id::int;
update whl_game_summary_team set away_team_id = null where away_team_id = '';
alter table whl_game_summary_team alter column away_team_id type int using away_team_id::int;
update whl_game_summary_team set home_active = null where home_active = '';
alter table whl_game_summary_team alter column home_active type int using home_active::int;
update whl_game_summary_team set home_id = null where home_id = '';
alter table whl_game_summary_team alter column home_id type int using home_id::int;
update whl_game_summary_team set home_lang_id = null where home_lang_id = '';
alter table whl_game_summary_team alter column home_lang_id type int using home_lang_id::int;
update whl_game_summary_team set home_league_id = null where home_league_id = '';
alter table whl_game_summary_team alter column home_league_id type int using home_league_id::int;
update whl_game_summary_team set home_placeholder = null where home_placeholder = '';
alter table whl_game_summary_team alter column home_placeholder type int using home_placeholder::int;
update whl_game_summary_team set home_season_id = null where home_season_id = '';
alter table whl_game_summary_team alter column home_season_id type int using home_season_id::int;
update whl_game_summary_team set home_team_id = null where home_team_id = '';
alter table whl_game_summary_team alter column home_team_id type int using home_team_id::int;