In [1]:
from sqlalchemy import create_engine
import pandas as pd
import numpy as np

In [2]:
engine = create_engine('postgresql+psycopg2://hitmen_hockey:hitmen_hockey@localhost/Hitmen_Hockey')

/anaconda3/lib/python3.7/site-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

In [3]:
df = pd.read_sql_query('select * from hitmen_hockey',con=engine)
df_players = pd.read_sql_query('select * from hitmen_hockey_players',con=engine)
df_games = pd.read_sql_query('select * from games',con=engine)

In [4]:
df_players_list = df_players[['player_id', 'player_name', 'player']].values.tolist()
df_games_list = df_games.values.tolist()

In [5]:
main_list = []
for game in df_games_list:
    for player in df_players_list:
        main_list.append([game[0], player[0], player[1], player[2]])

In [6]:
df_main = pd.DataFrame(main_list)
df_main.columns = ['game_id', 'player_id', 'player_name', 'player']

In [7]:
# Shots Attempt For
df_shotsattemptfor = df[df['ClipType'] == 'Shot Attempt For'].groupby(['Game', 'Scouted Player']).count().sort_values('Game')
df_shotsattemptfor = df_shotsattemptfor.reset_index()

df_shotsattemptfor = df_shotsattemptfor[['Game', 'Scouted Player', 'index']]
df_shotsattemptfor.columns = ['game','scouted player', 'shotsattemptfor']

df_main = pd.merge(df_main, df_shotsattemptfor, left_on=['player', 'game_id'], right_on=['scouted player', 'game'], how='left')
df_main = df_main.drop(['game', 'scouted player'], axis=1)

In [8]:
# Shots on Goal
df_shotsongoal = df[(df['ClipType'] == 'Shot Attempt For') & (df['SAGRADE'] == '2 - On Net')].groupby(['Game', 'Scouted Player']).count().sort_values('Game')
df_shotsongoal = df_shotsongoal.reset_index()

df_shotsongoal = df_shotsongoal[['Game', 'Scouted Player', 'index']]
df_shotsongoal.columns = ['game','scouted player', 'shotsongoal']

df_main = pd.merge(df_main, df_shotsongoal, left_on=['player', 'game_id'], right_on=['scouted player', 'game'], how='left')
df_main = df_main.drop(['game', 'scouted player'], axis=1)

In [9]:
# Chance For
df_chance_for = df[(df['ClipType'] == 'Chance For')].groupby(['Game', 'Scouted Player']).count().sort_values('Game')
df_chance_for = df_chance_for.reset_index()

df_chance_for = df_chance_for[['Game', 'Scouted Player', 'index']]
df_chance_for.columns = ['game','scouted player', 'chancefor']

df_main = pd.merge(df_main, df_chance_for, left_on=['player', 'game_id'], right_on=['scouted player', 'game'], how='left')
df_main = df_main.drop(['game', 'scouted player'], axis=1)

In [10]:
# Chance Created
df_chance_created = df[(df['CHANCE CREATE'] != 'ChanceCreate') & (df['CHANCE CREATE'].notnull())].groupby(['Game', 'CHANCE CREATE']).count().sort_values('Game')
df_chance_created = df_chance_created.reset_index()

df_chance_created = df_chance_created[['Game', 'CHANCE CREATE', 'index']]
df_chance_created.columns = ['game','scouted player', 'chancecreate']

df_main = pd.merge(df_main, df_chance_created, left_on=['player', 'game_id'], right_on=['scouted player', 'game'], how='left')
df_main = df_main.drop(['game', 'scouted player'], axis=1)

In [11]:
# Turnover
df_turnover = df[df['ClipType'] == 'Turnover'].groupby(['Game', 'Scouted Player']).count().sort_values('Game')
df_turnover = df_turnover.reset_index()

df_turnover = df_turnover[['Game', 'Scouted Player', 'index']]
df_turnover.columns = ['game','scouted player', 'turnover']

df_main = pd.merge(df_main, df_turnover, left_on=['player', 'game_id'], right_on=['scouted player', 'game'], how='left')
df_main = df_main.drop(['game', 'scouted player'], axis=1)

In [12]:
# Takeaway
df_takeaway = df[df['ClipType'] == 'Takeaway'].groupby(['Game', 'Scouted Player']).count().sort_values('Game')
df_takeaway = df_takeaway.reset_index()

df_takeaway = df_takeaway[['Game', 'Scouted Player', 'index']]
df_takeaway.columns = ['game','scouted player', 'takeaway']

df_main = pd.merge(df_main, df_takeaway, left_on=['player', 'game_id'], right_on=['scouted player', 'game'], how='left')
df_main = df_main.drop(['game', 'scouted player'], axis=1)

In [13]:
# Zone Entry
df_zoneentry = df[df['ClipType'] == 'Zone Entry'].groupby(['Game', 'Scouted Player']).count().sort_values('Game')
df_zoneentry = df_zoneentry.reset_index()

df_zoneentry = df_zoneentry[['Game', 'Scouted Player', 'index']]
df_zoneentry.columns = ['game','scouted player', 'zoneentry']

df_main = pd.merge(df_main, df_zoneentry, left_on=['player', 'game_id'], right_on=['scouted player', 'game'], how='left')
df_main = df_main.drop(['game', 'scouted player'], axis=1)

In [14]:
# Zone Exit
df_zoneexit = df[df['ClipType'] == 'Zone Exit'].groupby(['Game', 'Scouted Player']).count().sort_values('Game')
df_zoneexit = df_zoneexit.reset_index()

df_zoneexit = df_zoneexit[['Game', 'Scouted Player', 'index']]
df_zoneexit.columns = ['game','scouted player', 'zoneexit']

df_main = pd.merge(df_main, df_zoneexit, left_on=['player', 'game_id'], right_on=['scouted player', 'game'], how='left')
df_main = df_main.drop(['game', 'scouted player'], axis=1)

In [15]:
# Hit
df_hit = df[df['ClipType'] == 'HIT'].groupby(['Game', 'Scouted Player']).count().sort_values('Game')
df_hit = df_hit.reset_index()

df_hit = df_hit[['Game', 'Scouted Player', 'index']]
df_hit.columns = ['game','scouted player', 'hit']

df_main = pd.merge(df_main, df_hit, left_on=['player', 'game_id'], right_on=['scouted player', 'game'], how='left')
df_main = df_main.drop(['game', 'scouted player'], axis=1)

In [16]:
# Blocked Shot
df_blockedshot = df[df['ClipType'] == 'Blocked Shot'].groupby(['Game', 'Scouted Player']).count().sort_values('Game')
df_blockedshot = df_blockedshot.reset_index()

df_blockedshot = df_blockedshot[['Game', 'Scouted Player', 'index']]
df_blockedshot.columns = ['game','scouted player', 'blockedshot']

df_main = pd.merge(df_main, df_blockedshot, left_on=['player', 'game_id'], right_on=['scouted player', 'game'], how='left')
df_main = df_main.drop(['game', 'scouted player'], axis=1)

In [17]:
# Draw Penalty
df_drawpenalty = df[df['ClipType'] == 'Draw Penalty'].groupby(['Game', 'Scouted Player']).count().sort_values('Game')
df_drawpenalty = df_drawpenalty.reset_index()

df_drawpenalty = df_drawpenalty[['Game', 'Scouted Player', 'index']]
df_drawpenalty.columns = ['game','scouted player', 'drawpenalty']

df_main = pd.merge(df_main, df_drawpenalty, left_on=['player', 'game_id'], right_on=['scouted player', 'game'], how='left')
df_main = df_main.drop(['game', 'scouted player'], axis=1)

In [18]:
# Faceoff Win
df_faceoffwin = df[df['FOResult'] == 'win'].groupby(['Game', 'Scouted Player']).count().sort_values('Game')
df_faceoffwin = df_faceoffwin.reset_index()

df_faceoffwin = df_faceoffwin[['Game', 'Scouted Player', 'index']]
df_faceoffwin.columns = ['game','scouted player', 'faceoffwin']

df_main = pd.merge(df_main, df_faceoffwin, left_on=['player', 'game_id'], right_on=['scouted player', 'game'], how='left')
df_main = df_main.drop(['game', 'scouted player'], axis=1)

In [19]:
# Faceoff Loss
df_faceoffloss = df[df['FOResult'] == 'loss'].groupby(['Game', 'Scouted Player']).count().sort_values('Game')
df_faceoffloss = df_faceoffloss.reset_index()

df_faceoffloss = df_faceoffloss[['Game', 'Scouted Player', 'index']]
df_faceoffloss.columns = ['game','scouted player', 'faceoffloss']

df_main = pd.merge(df_main, df_faceoffloss, left_on=['player', 'game_id'], right_on=['scouted player', 'game'], how='left')
df_main = df_main.drop(['game', 'scouted player'], axis=1)

In [20]:
df_main

,game_id,player_id,player_name,player,shotsattemptfor,shotsongoal,chancefor,chancecreate,turnover,takeaway,zoneentry,zoneexit,hit,blockedshot,drawpenalty,faceoffwin,faceoffloss
0,1.0,29,Elder,29 Elder,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.0,22,Bader,22 Bader,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1.0,15,Nielsen,15 Nielsen,4.0,1.0,2.0,4.0,2.0,4.0,4.0,1.0,2.0,1.0,3.0,NaN,NaN
3,1.0,28,Malm,28 Malm,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1.0,11,Zimmerman,11 Zimmerman,3.0,1.0,1.0,1.0,2.0,3.0,1.0,1.0,NaN,2.0,NaN,NaN,2.0
5,1.0,25,Funk,25 Funk,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1.0,19,Focht,19 Focht,5.0,3.0,3.0,1.0,2.0,2.0,1.0,2.0,1.0,2.0,NaN,9.0,6.0
7,1.0,8,Yeryomenko,8 Yeryomenko,8.0,3.0,NaN,3.0,7.0,5.0,3.0,3.0,3.0,2.0,NaN,NaN,NaN
8,1.0,10,Prokop,10 Prokop,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1.0,9,Zamula,9 Zamula,5.0,2.0,NaN,1.0,6.0,5.0,2.0,3.0,NaN,3.0,NaN,1.0,NaN
10,1.0,14,Korczak,14 Korczak,2.0,2.0,1.0,NaN,4.0,3.0,2.0,4.0,NaN,NaN,NaN,5.0,4.0
11,1.0,2,Krebs,2 Krebs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,1.0,7,Klassen,7 Klassen,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,1.0,3,Viggars,3 Viggars,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,1.0,32,Galloway,32 Galloway,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,1.0,18,Stotts,18 Stotts,4.0,2.0,3.0,4.0,10.0,4.0,4.0,3.0,NaN,NaN,NaN,8.0,11.0
16,1.0,6,Prokop,6 Prokop,2.0,NaN,NaN,NaN,3.0,1.0,NaN,2.0,1.0,1.0,NaN,NaN,NaN
17,1.0,15,Tschigerl,15 Tschigerl,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,1.0,17,Campbell,17 Campbell,3.0,1.0,NaN,NaN,2.0,3.0,2.0,1.0,3.0,1.0,1.0,NaN,NaN
19,1.0,5,van de Leest,5 van de Leest,4.0,3.0,NaN,1.0,5.0,4.0,1.0,2.0,3.0,4.0,NaN,NaN,NaN
20,1.0,3,Schmiemann,3 Schmiemann,NaN,NaN,NaN,1.0,4.0,4.0,1.0,2.0,NaN,2.0,NaN,NaN,NaN
21,1.0,23,Huber,23 Huber,2.0,2.0,3.0,NaN,2.0,NaN,NaN,1.0,2.0,NaN,NaN,NaN,NaN
22,1.0,12,Kastelic,12 Kastelic,4.0,2.0,2.0,2.0,4.0,3.0,2.0,2.0,3.0,1.0,1.0,11.0,16.0
23,1.0,4,Toder,4 Toder,4.0,2.0,1.0,1.0,3.0,2.0,NaN,2.0,1.0,2.0,NaN,NaN,NaN
24,1.0,27,Carriere,27 Carriere,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,1.0,21,Fiddler Schultz,21 Fiddler Schultz,2.0,2.0,1.0,NaN,1.0,2.0,1.0,4.0,1.0,NaN,1.0,NaN,NaN
26,1.0,22,Weisblatt,22 Weisblatt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,1.0,24,Coleman,24 Coleman,8.0,4.0,4.0,1.0,4.0,2.0,3.0,6.0,2.0,1.0,NaN,NaN,NaN
28,1.0,28,Weisblatt,28 Weisblatt,3.0,1.0,NaN,NaN,6.0,2.0,2.0,4.0,2.0,NaN,NaN,NaN,NaN
29,1.0,22,Wiesblatt,22 Wiesblatt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1892,60.0,22,Bader,22 Bader,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1893,60.0,15,Nielsen,15 Nielsen,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1894,60.0,28,Malm,28 Malm,6.0,2.0,3.0,4.0,1.0,NaN,8.0,3.0,NaN,NaN,NaN,1.0,NaN
1895,60.0,11,Zimmerman,11 Zimmerman,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1896,60.0,25,Funk,25 Funk,4.0,2.0,2.0,2.0,1.0,1.0,3.0,3.0,3.0,NaN,NaN,NaN,NaN
1897,60.0,19,Focht,19 Focht,8.0,6.0,6.0,1.0,NaN,3.0,4.0,4.0,1.0,NaN,3.0,9.0,8.0
1898,60.0,8,Yeryomenko,8 Yeryomenko,10.0,2.0,3.0,4.0,4.0,8.0,1.0,2.0,2.0,2.0,NaN,1.0,NaN
1899,60.0,10,Prokop,10 Prokop,2.0,NaN,1.0,3.0,1.0,3.0,2.0,3.0,2.0,NaN,NaN,NaN,NaN
1900,60.0,9,Zamula,9 Zamula,3.0,1.0,2.0,2.0,4.0,7.0,2.0,6.0,NaN,1.0,NaN,1.0,NaN
1901,60.0,14,Korczak,14 Korczak,3.0,1.0,2.0,1.0,2.0,2.0,1.0,4.0,3.0,NaN,1.0,8.0,5.0
1902,60.0,2,Krebs,2 Krebs,4.0,2.0,1.0,3.0,5.0,2.0,NaN,3.0,2.0,3.0,NaN,NaN,NaN
1903,60.0,7,Klassen,7 Klassen,6.0,1.0,NaN,1.0,4.0,2.0,NaN,3.0,NaN,1.0,NaN,NaN,NaN
1904,60.0,3,Viggars,3 Viggars,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1905,60.0,32,Galloway,32 Galloway,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1906,60.0,18,Stotts,18 Stotts,4.0,2.0,4.0,4.0,3.0,6.0,5.0,4.0,1.0,NaN,NaN,14.0,9.0
1907,60.0,6,Prokop,6 Prokop,2.0,1.0,1.0,2.0,3.0,5.0,NaN,6.0,NaN,1.0,NaN,NaN,NaN
1908,60.0,15,Tschigerl,15 Tschigerl,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1909,60.0,17,Campbell,17 Campbell,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1910,60.0,5,van de Leest,5 van de Leest,3.0,1.0,1.0,3.0,3.0,4.0,NaN,1.0,1.0,2.0,NaN,NaN,NaN
1911,60.0,3,Schmiemann,3 Schmiemann,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1912,60.0,23,Huber,23 Huber,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1913,60.0,12,Kastelic,12 Kastelic,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1914,60.0,4,Toder,4 Toder,6.0,3.0,2.0,NaN,3.0,4.0,1.0,NaN,2.0,1.0,NaN,1.0,NaN
1915,60.0,27,Carriere,27 Carriere,1.0,NaN,1.0,1.0,1.0,3.0,2.0,4.0,2.0,NaN,NaN,NaN,NaN
1916,60.0,21,Fiddler Schultz,21 Fiddler Schultz,4.0,2.0,2.0,3.0,2.0,4.0,3.0,7.0,NaN,3.0,1.0,5.0,2.0
1917,60.0,22,Weisblatt,22 Weisblatt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1918,60.0,24,Coleman,24 Coleman,3.0,1.0,3.0,NaN,7.0,7.0,1.0,6.0,3.0,3.0,NaN,NaN,NaN
1919,60.0,28,Weisblatt,28 Weisblatt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1920,60.0,22,Wiesblatt,22 Wiesblatt,3.0,2.0,2.0,3.0,5.0,4.0,4.0,1.0,4.0,NaN,NaN,NaN,NaN
1921,60.0,16,Kryski,16 Kryski,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
df_main = df_main.fillna(0)

In [23]:
df_main.game_id = df_main.game_id.astype(int)

df_main.shotsattemptfor = df_main.shotsattemptfor.astype(int)
df_main.shotsongoal = df_main.shotsongoal.astype(int)
df_main.chancefor = df_main.chancefor.astype(int)
df_main.chancecreate = df_main.chancecreate.astype(int)
df_main.turnover = df_main.turnover.astype(int)
df_main.takeaway = df_main.takeaway.astype(int)
df_main.zoneentry = df_main.zoneentry.astype(int)
df_main.zoneexit = df_main.zoneexit.astype(int)
df_main.hit = df_main.hit.astype(int)
df_main.blockedshot = df_main.blockedshot.astype(int)
df_main.drawpenalty = df_main.drawpenalty.astype(int)
df_main.faceoffwin = df_main.faceoffwin.astype(int)
df_main.faceoffloss = df_main.faceoffloss.astype(int)

In [24]:
df_main.to_sql("game_totals_individual", con=engine, if_exists='replace')