In [1]:
from sqlalchemy import create_engine
import pandas as pd
import numpy as np

In [2]:
engine = create_engine('postgresql+psycopg2://hitmen_hockey:hitmen_hockey@localhost/Hitmen_Hockey')

/anaconda3/lib/python3.7/site-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

In [14]:
df = pd.read_sql_query('select * from hitmen_hockey',con=engine)
df_players = pd.read_sql_query('select * from hitmen_hockey_players',con=engine)
df_games = pd.read_sql_query('select * from games',con=engine)

df_games.columns = ['game_id']

In [15]:
df_goalies = df_players[df_players["player_position"] == 'G']

In [16]:
df_goalies = df_goalies[['player_id', 'player']]

In [17]:
df_goalies

   player_id         player
31         1   1 Stankowski
32        31  31 McNaughton

In [23]:
df_player = df[(df['GOAL TYPE'] == '0 - Clear Shot')].groupby(['Scouted Player']).count()['index']
df_player = df_player.reset_index()

df_player.rename(columns={'index':'0 - Clear Shot'}, inplace=True)

In [24]:
df_player

    Scouted Player  0 - Clear Shot
0     1 Stankowski               8
1        10 Prokop               2
2     11 Zimmerman               1
3      12 Kastelic               7
4       14 Korczak               1
5        16 Kryski               3
6        18 Stotts               2
7         19 Focht               8
8          2 Krebs               1
9         22 Bader               2
10        23 Huber               1
11      24 Coleman               2
12     27 Carriere               3
13         28 Malm               7
14        29 Elder               6
15   31 McNaughton              27
16     33 Armitage               1
17  5 van de Leest               1
18       7 Klassen               1
19    8 Yeryomenko               1
20        9 Zamula               4

In [11]:
for index, row in df_goalies.iterrows():
    #print(row['player'])
    
    df_player = df[(df['GOAL TYPE'] == '0 - Clear Shot') & (df['Scouted Player'] == row['player'])].groupby(['Scouted Player']).count()['index']
    df_player = df_player.reset_index()
    df_goalies = pd.merge(df_goalies, df_player, left_on=['player'], right_on=['Scouted Player'], how='left')
    df_goalies = df_goalies.drop('Scouted Player', axis=1)
    df_goalies.rename(columns={'index':'0 - Clear Shot'}, inplace=True)

    
    #df_player = df[(df['GOAL TYPE'] == '1 - Net Drive') & (df['Scouted Player'] == row['player'])].groupby(['Scouted Player']).count()['index']
    #df_player = df_player.reset_index()
    #df_goalies = pd.merge(df_goalies, df_player, left_on=['player'], right_on=['Scouted Player'], how='left')
    
    #df_player = df[(df['GOAL TYPE'] == '2 - Below GL') & (df['Scouted Player'] == row['player'])].groupby(['Scouted Player']).count()['index']
    #df_player = df[(df['GOAL TYPE'] == '3 - Entries') & (df['Scouted Player'] == row['player'])].groupby(['Scouted Player']).count()['index']
    #df_player = df[(df['GOAL TYPE'] == '4 - High Low') & (df['Scouted Player'] == row['player'])].groupby(['Scouted Player']).count()['index']
    #df_player = df[(df['GOAL TYPE'] == '5 - East West') & (df['Scouted Player'] == row['player'])].groupby(['Scouted Player']).count()['index']
    #df_player = df[(df['GOAL TYPE'] == '6 - Breakaway') & (df['Scouted Player'] == row['player'])].groupby(['Scouted Player']).count()['index']
    #df_player = df[(df['GOAL TYPE'] == '7 - Deflections') & (df['Scouted Player'] == row['player'])].groupby(['Scouted Player']).count()['index']
    #df_player = df[(df['GOAL TYPE'] == '8 - Screens') & (df['Scouted Player'] == row['player'])].groupby(['Scouted Player']).count()['index']
    #df_player = df[(df['GOAL TYPE'] == '9 - Rebounds') & (df['Scouted Player'] == row['player'])].groupby(['Scouted Player']).count()['index']
    #df_player = df[(df['GOAL TYPE'] == '10 - PS') & (df['Scouted Player'] == row['player'])].groupby(['Scouted Player']).count()['index']
    #df_player = df[(df['GOAL TYPE'] == '11 - Bad Goal') & (df['Scouted Player'] == row['player'])].groupby(['Scouted Player']).count()['index']

    
    df_player = df_player.reset_index()

In [12]:
df_goalies

  player_id         player  0 - Clear Shot  0 - Clear Shot
0         1   1 Stankowski             8.0             NaN
1        31  31 McNaughton             NaN            27.0