In [1]:
import pandas as pd
import numpy as np
import sys
sys.path.append('../../../')

import settings as st
import datetime

In [2]:
sys.path.append('../../../production/data-scraping/utilities')

import web_utilities as wu
import database_utilities as du
import encoder_utilities as eu
import pd_utilities as pu

In [3]:
import pandas as pd
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [4]:
db_host = st.database['local']['host']
db_port = st.database['local']['port']
db_user = st.database['local']['user']
db_pass = st.database['local']['pass']
db_sys = st.database['local']['system']
db_db = st.database['local']['db']

In [5]:
print("START PROCESS: " + str(datetime.datetime.now()))

START PROCESS: 2019-06-07 20:36:50.502818

In [ ]:
"""
# stg_whl_game_summary_coaches

CREATE TABLE whl_game_summary_coaches AS SELECT * FROM stg_whl_game_summary_coaches
    
alter table whl_game_summary_coaches alter column person_id type integer USING person_id::integer;
alter table whl_game_summary_coaches alter column coach_type_id type integer USING coach_type_id::integer;

# stg_whl_game_summary_goalies

create table whl_game_summary_goalies as select * from stg_whl_game_summary_goalies;

alter table whl_game_summary_goalies alter column goals_against type int USING goals_against::integer;
alter table whl_game_summary_goalies alter column id type int USING id::integer;
alter table whl_game_summary_goalies alter column loss type int USING loss::integer;
alter table whl_game_summary_goalies alter column ot_loss type int USING ot_loss::integer;
alter table whl_game_summary_goalies alter column player_id type int USING player_id::integer;
alter table whl_game_summary_goalies alter column saves type int USING saves::integer;
alter table whl_game_summary_goalies alter column seconds type int USING seconds::integer;
alter table whl_game_summary_goalies alter column secs type int USING secs::integer;
alter table whl_game_summary_goalies alter column shootout_loss type int USING shootout_loss::integer;
alter table whl_game_summary_goalies alter column shots_against type int USING shots_against::integer;
alter table whl_game_summary_goalies alter column shutout type int USING shutout::integer;
alter table whl_game_summary_goalies alter column tie type int USING tie::integer;
alter table whl_game_summary_goalies alter column win type int USING win::integer;
alter table whl_game_summary_goalies alter column game_id type int USING game_id::integer;

# stg_whl_game_summary_goals

create table whl_game_summary_goals as select * from stg_whl_game_summary_goals;

update whl_game_summary_goals set assist1_player_jersey_number = null where assist1_player_jersey_number = '';
alter table whl_game_summary_goals alter column assist1_player_jersey_number type integer using assist1_player_jersey_number::integer;
alter table whl_game_summary_goals alter column assist1_player_player_id type integer using assist1_player_player_id::integer;
alter table whl_game_summary_goals alter column assist1_player_team_id type integer using assist1_player_team_id::integer;
update whl_game_summary_goals set assist2_player_jersey_number = null where assist2_player_jersey_number = '';
alter table whl_game_summary_goals alter column assist2_player_jersey_number type integer using assist2_player_jersey_number::integer;
alter table whl_game_summary_goals alter column assist2_player_player_id type integer using assist2_player_player_id::integer;
alter table whl_game_summary_goals alter column assist2_player_team_id type integer using assist2_player_team_id::integer;
alter table whl_game_summary_goals alter column empty_net type integer using empty_net::integer;
alter table whl_game_summary_goals alter column game_tieing type integer using game_tieing::integer;
alter table whl_game_summary_goals alter column game_winning type integer using game_winning::integer;
alter table whl_game_summary_goals alter column goal_id type integer using goal_id::integer;
update whl_game_summary_goals set goal_scorer_jersey_number = null where goal_scorer_jersey_number = '';
alter table whl_game_summary_goals alter column goal_scorer_jersey_number type integer using goal_scorer_jersey_number::integer;
alter table whl_game_summary_goals alter column goal_scorer_player_id type integer using goal_scorer_player_id::integer;
alter table whl_game_summary_goals alter column goal_scorer_team_id type integer using goal_scorer_team_id::integer;
alter table whl_game_summary_goals alter column home type integer using home::integer;
alter table whl_game_summary_goals alter column insurance_goal type integer using insurance_goal::integer;
alter table whl_game_summary_goals alter column location_set type integer using location_set::integer;
alter table whl_game_summary_goals alter column penalty_shot type integer using penalty_shot::integer;
alter table whl_game_summary_goals alter column period_id type integer using period_id::integer;
alter table whl_game_summary_goals alter column power_play type integer using power_play::integer;
alter table whl_game_summary_goals alter column s type integer using s::integer;
alter table whl_game_summary_goals alter column scorer_goal_num type integer using scorer_goal_num::integer;
alter table whl_game_summary_goals alter column short_handed type integer using short_handed::integer;
alter table whl_game_summary_goals alter column team_id type integer using team_id::integer;

# stg_whl_game_summary_goals_minus

create table whl_game_summary_goals_minus as select * from stg_whl_game_summary_goals_minus;

alter table whl_game_summary_goals_minus alter column game_id type int using game_id::int;
alter table whl_game_summary_goals_minus alter column goal_id type int using goal_id::int;
alter table whl_game_summary_goals_minus alter column player_id type int using player_id::int;
update whl_game_summary_goals_minus set jersey_number = null where jersey_number = '';
alter table whl_game_summary_goals_minus alter column jersey_number type int using jersey_number::int;

# stg_whl_game_summary_goals_plus

create table whl_game_summary_goals_plus as select * from stg_whl_game_summary_goals_plus

alter table whl_game_summary_goals_plus alter column game_id type int using game_id::int;
alter table whl_game_summary_goals_plus alter column goal_id type int using goal_id::int;
alter table whl_game_summary_goals_plus alter column player_id type int using player_id::int;
update whl_game_summary_goals_plus set jersey_number = null where jersey_number = '';
alter table whl_game_summary_goals_plus alter column jersey_number type int using jersey_number::int;

# stg_whl_game_summary_lineup

create table whl_game_summary_lineup as select * from stg_whl_game_summary_lineup;

alter table whl_game_summary_lineup alter column assists type int using assists::int;
alter table whl_game_summary_lineup alter column faceoff_attempts type int using faceoff_attempts::int;
alter table whl_game_summary_lineup alter column faceoff_wins type int using faceoff_wins::int;
alter table whl_game_summary_lineup alter column goals type int using goals::int;
alter table whl_game_summary_lineup alter column goals_against type int using goals_against::int;
alter table whl_game_summary_lineup alter column hits type int using hits::int;
update whl_game_summary_lineup set jersey_number = null where jersey_number = '';
alter table whl_game_summary_lineup alter column jersey_number type int using jersey_number::int;
alter table whl_game_summary_lineup alter column person_id type int using person_id::int;
alter table whl_game_summary_lineup alter column pim type int using pim::int;
alter table whl_game_summary_lineup alter column player_id type int using player_id::int;
alter table whl_game_summary_lineup alter column position type int using position::int;
update whl_game_summary_lineup set rookie = null where rookie = '';
alter table whl_game_summary_lineup alter column rookie type int using rookie::int;
alter table whl_game_summary_lineup alter column saves type int using saves::int;
alter table whl_game_summary_lineup alter column seconds type int using seconds::int;
alter table whl_game_summary_lineup alter column shots type int using shots::int;
alter table whl_game_summary_lineup alter column shots_against type int using shots_against::int;
alter table whl_game_summary_lineup alter column shots_on type int using shots_on::int;
alter table whl_game_summary_lineup alter column game_id type int using game_id::int;
alter table whl_game_summary_lineup alter column plusminus type double precision using plusminus::double precision;

# stg_whl_game_summary_meta

create table whl_game_summary_meta as select * from stg_whl_game_summary_meta;

### NOT YET RUN
alter table whl_game_summary_meta alter column final type int using final::int;
alter table whl_game_summary_meta alter column forfeit type int using forfeit::int;
alter table whl_game_summary_meta alter column game_number type int using game_number::int;
alter table whl_game_summary_meta alter column home_assist_count type int using home_assist_count::int;
alter table whl_game_summary_meta alter column home_assistant_coach1 type int using home_assistant_coach1::int;
alter table whl_game_summary_meta alter column home_assistant_coach2 type int using home_assistant_coach2::int;
alter table whl_game_summary_meta alter column home_coach type int using home_coach::int;
alter table whl_game_summary_meta alter column home_faceoffs_att type int using home_faceoffs_att::int;
alter table whl_game_summary_meta alter column home_faceoffs_won type int using home_faceoffs_won::int;
alter table whl_game_summary_meta alter column home_goal_count type int using home_goal_count::int;
alter table whl_game_summary_meta alter column home_goal_total type int using home_goal_total::int;
alter table whl_game_summary_meta alter column home_inf_count type int using home_inf_count::int;
alter table whl_game_summary_meta alter column home_manager type int using home_manager::int;
alter table whl_game_summary_meta alter column home_pim_total type int using home_pim_total::int;
alter table whl_game_summary_meta alter column home_pim_total type int using home_pim_total::int;
"""